<%- include("_header") -%>


<h1>Login</h1>
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password">
    
  </p>
  <p>
    <input type="submit" value="Login">
  </p>

<%- include('_footer') -%>