
<form action="/listes" method="get">
  <div class="form-horizontal">

    <%- include("_userconnexion") -%>

    <div class="form-group row">
      <label class="col-form-label col-sm-2"></label>
    </div>
  </div>
</form>

<%- include("_footer") -%>